* {
    outline: 2px dotted blue;
    margin: 0 auto;
    padding: 0;
}
header li {
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 5px;
}
header ul {
    float: right;
    padding-top: 65px;
    margin-right: 50px;
    margin: 0px, 0px, 0px, 0px ;
}
header h1 {
    float: left;
    font-size: 45px;
    margin-bottom: 50px;
}
main {
    display: inline-block;
    margin-bottom: 50px;
    clear: both;
    background-color: #FFFEEC;
}
main p {
    font-family: Arial, Helvetica, sans-serif;
}
main ul {
    display: inline-block;
}
main li img {
     border-radius: 45%;
}
.floatright {
    height: 100px;
    width: 25%;
    float: right;
    margin-right: 40px;
    margin-top: 75px;
    font-size: large;
}
.floatrightpic {
    float: right;
    width: 70%;
    margin-top: 2px;
    height: 475px;
    width: 1000px;
}
.floatleftpic {
    float: left; 
    width: 70%;
} 
nav {
    height: 100px;
    background-color: rgb(252, 161, 3);
}
.floatleft{
    height: 100px;
    width: 25%;
    float: left;
    margin-left: 40px;
    margin-top: 75px;
    font-size: large;
}
main li {
    display: inline;
    margin-top: 100px;
}
footer {
    background-color: rgb( 252, 161, 3);
}
